# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build
build/
dist/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# System files
.DS_Store
Thumbs.db

# macOS
.AppleDouble
.LSOverride

# Windows
ehthumbs.db
Icon?
Desktop.ini

# GitHub Pages deploy (mantém apenas a build final quando necessário)
# Caso deseje fazer deploy manualmente, ignore isso:
# !/build/index.html
# !/build/404.html
# !/build/static/
